{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Garbage Sorter</title>
{% endblock %}

{% block content1 %}
<div class="container mt-5">
    <div class="row justify-content-center p-2">
        <div class="col-12 col-md-10 col-lg-7 card shadow p-3 m-2 rounded">

            <form role="form"  enctype="multipart/form-data" method="POST" id="sorter">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-12 mb-2">
                        <label for="inputImage"><strong>Ingrese la imagen a clasificar:</strong></label>
                    </div>
                    <div class="col-12 mb-2 row justify-content-between" id="inputIMG">
                        <!-- <input type="file" accept="image/png, image/jpeg" alt="imagen para clasificar" class="form-control-file mb-2" id="inputImage" hidden> -->
                        {{ form.as_p }}
                        <div class="col-4">
                            <input type="button" class="btn btn-info" value="Elegir imagen" id="inputImageBtn"/>
                        </div>

                        <div class="col-4 row justify-content-end">
                            <input type="submit" class="btn btn-info" value="Clasificar"/>
                        </div>
                    </div>

                    <div class="col-12 mb-2" id="cont-imagen-name">
                        <strong>Nombre del archivo:</strong><p id="image-name"></p>
                    </div>

                    <div class="col-12 mb-2" id="result">
                        {% if result %}
                            <div class='alert alert-info'>
                            {{ result.name }}
                            {{ result.porc }}%
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-12 mb-2 container">
                        <img id="output" class="mb-2 img-output"/>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript" src="{% static  'js/action.js' %}"></script>
{% endblock %}